  body {
    background-color:#ae90b5;
    background-size : cover;
  }

   /* Đặt kích thước tối đa cho hình ảnh logo */
.logo {
    max-width: 50%;
    max-height: 50%;
    position : left;
}

  #headline {
    font-size : 70px;
    font-weight : 500;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : rgb(58, 46, 46);
    text-align : center;
    padding-top : 30px;
    padding-bottom : 70px;
  }


  #addButton {
    background-color : rgba(254, 253, 255, 0.514);
    color : rgb(105, 86, 86);
    padding : 5px 10px;
    cursor : pointer;
    border-radius: 50px;
    border: 1px solid grey;
    height : 40px;
  }

  #clearAll {
    border : none;
    background-color : rgba(237, 234, 239, 0.536);
    color : rgb(105, 86, 86);
    font-family : 'headline';
    margin-top : 20px;
    width : 90px;
    font-size : 15px;
    border-radius : 30%;
    cursor : pointer;
  }
  
  #countTask {
    cursor : pointer;
    border : none;
    background-color : rgba(237, 234, 239, 0.536);
    color : rgb(105, 86, 86);
    font-family : 'headline';
    margin-top : 20px;
    width : 90px;
    font-size : 15px;
    border-radius : 30%;
  }
  
  #completedCount {
    cursor : pointer;
    border : none;
    background-color : rgba(237, 234, 239, 0.536);
    color : rgb(105, 86, 86);
    font-family : 'headline';
    margin-top : 20px;
    width : 90px;
    font-size : 15px;
    border-radius : 30%;
  }

  
#clearAll:hover, #countTask:hover, #addButton:hover, #completedCount:hover {
    background-color: #a19ea1;
  }
  
  
  #taskList {
    box-sizing :border-box;
    border : none;
  }
  
  .list{
    display : flex;
    background-color : rgba(228, 229, 235, 0.464);
    margin : 3px 0 3px auto;
    padding : auto;
    border-radius : 20px;
    position : relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .list:hover{
    background-color: rgba(254, 254, 255, 0.653);
    cursor : pointer;
    position : relative;
  }
  
  .list::-webkit-scrollbar {
    height : 8px;
    background-color:rgba(228, 229, 235, 0); /* Màu nền của thanh kéo */
  }

  /* trong thanh kéo */
  .list::-webkit-scrollbar-thumb {
    background-color: rgba(138, 136, 136, 0.712); /* Màu sắc của thanh kéo */
    border-radius: 5px;
  }

  .deleteButton {
    cursor: pointer;
  }
  
  .completed {
    text-decoration: line-through;
    color: rgb(49, 44, 44);
    background-color : rgba(162, 165, 196, 0.4); 
  }
  
  
  .deleteButton:hover{
    background-color: rgba(209, 209, 255, 0.94);
  }
  
  .media {
    padding-top : 130px;
  }

  p{
    font-weight: bold;
    font-size : 18px;
    color: rgb(117, 107, 107);
    font-style : italic;
  }